<% provide(:title, t(".title")) %>
<h1><%= t(".heading") %></h1>
<p>
  <%= t(".content_part1") %>
  <%= link_to Settings.rails_tutorial_text, Settings.rails_tutorial_url, target: "_blank" %>,
  <%= t(".content_part2") %>
  <%= link_to t(".content_part3"), Settings.learn_enough_url, target: "_blank" %>
  <%= t(".content_part4") %>
  <%= link_to t(".content_part5"), Settings.rails_book_url, target: "_blank" %>
  <%= t(".content_part6") %>
  <%= link_to t(".content_part7"), Settings.rails_screencast_url, target: "_blank" %>
</p>
 
