<%# provide(:title, t('static_pages.about.title')) %>
<h1><%= t('about_page.heading') %></h1>
<p>
  <%= t('about_page.content_part1') %>
  <a href="https://www.railstutorial.org/"><em>Ruby on Rails Tutorial</em></a>,
  <%= t('about_page.content_part2') %>
  <a href="https://www.learnenough.com/"><%= t('about_page.content_part3') %></a>
  <%= t('about_page.content_part4') %>
  <a href="https://www.railstutorial.org/book"><%= t('about_page.content_part5') %></a>
  <%= t('about_page.content_part6') %>
  <a href="https://screencasts.railstutorial.org/"><%= t('about_page.content_part7') %></a>
</p>
 
