<footer class="footer">
    <small>
        <%= t(".the") %>
        <%= link_to Settings.rails_tutorial_text, Settings.rails_tutorial_url%>
        <%= t(".by")%>
        <%= link_to Settings.michael_hartl_text, Settings.michael_hartl_url%>
    </small>
    <nav>
    <ul>
        <li><%= link_to t("layouts.about"), about_path %></li>
        <li><%= link_to t("layouts.contact"), contact_path %></li>
        <li><%= link_to t("layouts.news"), Settings.railstutorial_news_url %></li>
    </ul>
    </nav>
</footer>
