<header class="navbar navbar-fixed-top navbar-inverse">
    <div class="container">
    <%= link_to t("layout.sample_app"), root_path, id: "logo" %>
    <nav>
        <ul class="nav navbar-nav navbar-right">
            <li><%= link_to t("layouts.home"), root_path %></li>
            <li><%= link_to t("layouts.help"), help_path %></li>
            <li><%= link_to t("layouts.login"), "#" %></li>
            <li><%= link_to t("layouts.change_language"), "#" %></li>
        </ul>
    </nav>
    </div>
</header>
